.main_container {
    /*This is the main layout that has a column of buttons for each ship in the left column
    and the main layout on the right that has the ship image and holds
    current damage, current speed, current order, current damage cards
*/
    display: flex;
    height:100%;
    flex-direction: row;
    margin: 0px;
    flex: 100%;
    background-color:green;
    }

.ship_list_nav_bar_left_container {
    min-width: 150px;
    background-color: purple;
    margin: 5px;
}

.ship_sds_status_right_container {
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.ship_container {
    position: absolute;
    display: grid;
    grid-template-areas:
        "SDS SDS curr_speed"
        "SDS SDS curr_damage";
}

.main_container .ship_sds_status_right_container .SDS {
    color: pink;
    min-width:400px;
    background-color: orange;
}

.main_container .ship_sds_status_right_container .ship_current_stats {
    display:flex;
    flex-direction:column;
    min-width: 150px;
    background-color: black;
}


.ship_button {
    display: block;
    min-width: 150px;
    margin: 5px;
}

.main {
    width:100%;
    background-color:blue;
    margin:0px;
}

.ship_image {

}