@page "/"
@*@using System.Text.Json;
@using System.IO;
@using ShipSelector.Models;
@using static System.Net.WebRequestMethods
@inject HttpClient Http*@


<PageTitle>Landing page</PageTitle>

<h1>Select a system to get started!</h1>

@code{

    //    private Country[]? countries;
    //    private UnitType[]? unitTypes;
    //protected override async Task OnInitializedAsync()
    //{

    //    //var aaa = await Http.GetStringAsync("Data/countries.json");
    //    countries = await Http.GetFromJsonAsync<Country[]>("Data/countries.json");
    //    unitTypes = await Http.GetFromJsonAsync<UnitType[]>("Data/unitTypes.json");
    //    Console.WriteLine(unitTypes.Length);
    //}
}