@page "/readme"
<h1 class="display-1">What's this all about?</h1>
<small class="text-muted">This site is used to generate ship displays for playing different naval miniature games. 
    It will also count up the number of points used with the units selected.
</small>
<b/>
<h4>What's the ' Choose only from owned units?' option?</h4>
<small class="text-muted">This option is for the exclusive use of the author. It restricts ship selection to those in his 
    collection and it will print the name of those ships next to the ship image.
</small>

<h4>Why bother with this project?</h4>
<small class="text-muted">I started with this project to learn a new programming technology (to me at least). I looked 
    around for something that was a pain in the arse to prepare for and thought of Naval games.
</small>

<h4>What's next?</h4>
<small class="text-muted">I will flesh out the rest of the Nimitz sheets and then start on the Axis and Allies War at sea stats.
    Other systems could be added, but nothing is planned at this point.
</small>

<h4>Tablet and Phone compatibility</h4>
<small class="text-muted">As this site is designed to print out physical bits of paper, I haven't been fussy with how it looks on a pretend PC. It will work
     but won't be optimal.
</small>

<h3>Printing the sheets</h3>
<small class="text-muted">When printing the sheets, make sure you change your page setup to print out to landscape, and 
    it you want to see the coloured name bars (which we did to help quickly identify different ship types, especially for the non-naval-nerds)
    make sure you click the "Background graphics" option when you print from the browser (this should be under "More settings" or something similar)
</small>

<small class="text-muted">Nimitz. Only ships will be printed out. You can select them from the interface and it will keep track of points.
</small>

<h1 class="display-2">Version Information</h1>
<h4>Ver 1.0</h4>
<small class="text-muted">This is what I consider not quite a minimal viable product. It contains all the surface warship details for the UK, and some for Australia. 
    Next update will contain the Italians.
</small>

<h4>Ver 1.1</h4>
<small class="text-muted">Added Italians 
</small>

<h4>Ver 1.2</h4>
<small class="text-muted">Removed country from filter if it has no units for selected game system
</small>

<h4>Ver 1.3</h4>
<small class="text-muted">Added Netherlands ships for Nimitz
</small>

<h4>Ver 1.4</h4>
<small class="text-muted">Added Japanese ships for Nimitz
</small>

<h4>Ver 1.5</h4>
<small class="text-muted">Added USS ships for Nimitz
</small>

<h4>Ver 1.6</h4>
<small class="text-muted">Added WW1 English and German Starter boxes for Broadsides.
</small>

<h4>Ver 1.7</h4>
<small class="text-muted">Broadsides prints in portrait pages.
</small>

<h4>Ver 1.8</h4>
<small class="text-muted">Image sizes of units resized for width and height.
</small>

@code {

}
